.wrapper{
    margin-bottom: 0;
}

footer{
    bottom: 0;
    width: 100%;
    padding: 0.3rem;
    margin-bottom: 0;
    background-color: rgb(0, 0, 0);
}

footer p{
    color: rgba(199, 199, 199, 0.877);
    font-size: 1.5rem;
}

.facebook,
.instagram,
.whatsapp{
    color: white;
    font-size: 2rem;
}

.iconos{
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}

.facebook:hover{
    color: #4867AA;
}

.instagram:hover{
    color: #F707D3;
}

.whatsapp:hover{
    color: #1BD741;
}