.bane{
    background-image: linear-gradient(rgba(0, 0, 0, 0.719), rgba(71, 43, 0, 0.432)), url('../../../../public/images/laoladechapavid.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    margin-top: 5rem;
    font-size: 4rem;
    padding-top: 2rem;
}

.bane img{
    width: 20rem;
    float: right;
    margin-left: 20%;
}

.bane h1{
    color: white;
    
}

.nosop{
    font-size: 1.6rem;
    box-shadow: 0 0 1rem 1rem black;
}

.holder-nosotros{
    animation: tracking-in-expand 1s linear both;
    -webkit-animation: tracking-in-expand 1s linear both;
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -.2em;
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        opacity: 1
    }
}
